---
import Base from "../../layouts/base.astro"
import Button from "../../components/button.astro"
---
<script>
	import Alpine from "alpinejs"
    import axios from "axios"

    type Product = {
        id: number,
        thumbnail: string,
        price: number,
        title: string,
        img: string,
        rating: number
    }

    type ProductsGetRes = {
        limit: number,
        products: Product[],
        skip: number,
        total: number
    }

    type ShoppingCart = {
        products: Product[],
        limit: number,
        page: number,
        init(): Promise<void>,
        paginate(): Promise<void>
    }

	Alpine.data('shoppingCart', ():ShoppingCart => ({
        products: [],
        limit: 10,
        page: 1,
		async init() {
			const res = await axios.get<ProductsGetRes>('https://dummyjson.com/products?limit=10&skip=0')
            this.products = res.data.products
		},
        async paginate() {
            this.page += 1
            const skip = ( this.page - 1 ) * this.limit;
			const res = await axios.get<ProductsGetRes>(`https://dummyjson.com/products?limit=${this.limit}&skip=${skip}`)
            this.products = [...this.products, ...res.data.products]
        }
	}))

	Alpine.start()
</script>
<Base>
	<title>Shopping Cart - Web Template</title>
	<meta name="description" content="A web template for a shopping cart displaying a list of products in a Masonry layout, made with Alpine.js">
	<meta property="og:title" content="Web template for a shopping cart">
	<meta property="og:description" content="Shopping cart with an infinite scroll list of products. Add or remove products from the shopping cart and send orders.">
	<meta property="og:image" content="https://andrewsaeed.dev/me.png">
	<meta property="og:url" content="https://andrewsaeed.dev/templates/shopping-cart">
	<meta property="og:type" content="website">

	<main slot="main">
		
        <div x-data="shoppingCart">
            
            <ul class="grid gap-2 md:grid-cols-3">

                <template x-for="product in products" :key="product.id">
                    <li class="grid p-5 border border-black-dark transition duration-300 ease-in-out hover:bg-white-dark [&:hover_img]:scale-125">
                        <div class="overflow-hidden">
                            <img class="transition duration-300 ease-in-out" :src="`${product.thumbnail}`" alt="">
                        </div>
                        <div class="grid gap-y-1">
                            <h3 class="text-base-1 font-bold" x-text="`${product.id} ${product.title}`"></h3>
                            <div x-text="`${product.rating}`"></div>
                            <div class="text-base-2 font-bold" x-text="`$${product.price}`"></div>
                            <div class="self-end">
                                <Button btnType="button" size="small-text" stretch={true}>add to cart</Button>
                            </div>
                        </div>
                    </li>
                </template>
            </ul>

            <div class="mt-4 p-2" @click="paginate">
                <Button btnType="button" size="large-text" stretch={true}>load more</Button>
            </div>
        </div>
	</main>
</Base>